%header
  .wrapper.clearfix
    #logo
      = link_to image_tag("ruby.png", size: '28'), root_path
      = link_to "RubyHype", root_path
    %nav
      - if user_signed_in?
        = link_to "Log out", destroy_user_session_path, method: :delete
        - if current_user.avatar?
          = link_to current_user do
            My profile
            = image_tag(current_user.avatar.url(:small), class: "avatar-small")
        - else
          = link_to "My profile", current_user
      - else
        = link_to "Log in", new_user_session_path
        = link_to "Sign up", new_user_registration_path, class: "button"
      = link_to "Add new post", new_post_path, class: "button"